<div class="container">
    <h2 class="title-error">Ooops! The <span class="data-color">{{addon}}</span> has been added already. Take a look at the list of the rest of the addons!</h2>
    {{> back-home}}
</div>